<div class="col-left">

  <h1>Add New Contact</h1>

  <form action="/contacts" method="post">
    <%= erb :_form %>
  </form>

</div>

<div class="col-right">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit debitis ducimus quae illo laborum eveniet in, corporis minima non dicta numquam provident eaque, quibusdam soluta. Repellendus, nemo, iusto. Et, beatae!
</div>