<div class="col-left">
  <h1 class="welcome">Welcome to Arthur's CRM</h1>
  <p>
    This is a very basic CRM app built for Bitmaker Labs using Sinatra. The site is styled after an old school enterprise site. Not very pretty, but functional.
  </p>
</div>
<div class="col-right">
  <img src="http://poweredmanagement.com/wp-content/uploads/2014/01/Market-opportunities.png" alt="CRM Graph">
</div>