/**************************
CSS RESET
***************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****************************
GLOBAL
*****************************/

body {
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

/****************************
LAYOUT
*****************************/

footer, header {
  display: flex;
  align-items: center;
}

header {
  justify-content: flex-start;
}

footer {
  justify-content: flex-end;
}

main {
  display: flex;
  min-height: 69.0vh;
  width: 90.0vw;
  margin: auto;
}

.col-left {
  width: 60.0vw;
}
.col-right {
  width: 30vw;
}

/****************************
HEADER
****************************/


/****************************
LOGO
****************************/

.logo {
  display: inline-block;
  color: hsl(217, 98%, 26%);
  text-shadow: 1px 1px 1px black;
  font-size: 3.5vw;
  background: radial-gradient(circle, hsl(0, 95%, 47%) 20%, #fff 50%);
  padding: 1em .5em;
}

/***************************
NAVIGATION
****************************/

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  margin: 0 .7em;
}

nav a {
  color: hsl(0, 95%, 47%);
  text-shadow: 1px 1px 1px black;
  font-size: 2.2vw;
}

nav a:hover {
  color: hsl(0, 95%, 70%);
}

/***************************
MAIN
****************************/

main h1 {
  font-size: 2.8vw;
  color: hsl(217, 98%, 26%);
}

main img {
  width: 30vw;
}

main a {
  color: hsl(0, 95%, 47%);
}

main a:hover {
  color: hsl(0, 95%, 70%);
}

.contacts a {
  font-size: 1.5em;
  margin-left: 1em;
}

h1 {
  text-align: center;
  text-shadow: 1px 1px 1px #333;
}

h2 {
  font-size: 1.5em;
}

.contact {
  text-align: center
}

.notes {
  color: #666;
}

.contact-link {
  text-shadow: 1px 1px 1px #333;
}

.profile-pic {
  width: 200px;
  height: 300px;
}

/***************************
FORM
****************************/

form.profile {
  margin: 1.5em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: hsla(0, 0%, 0%, .1);
  border: solid 1px #ccc;
  width: 30vw;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #333;
}

.field {
  display: flex;
  justify-content: space-between;
  margin: 1em auto;
  width: 25vw;
}

.btn-field {
  margin: .5em auto 1em;
}

.btn-field .btn {
  margin: 0 auto;
}

label {
  text-align: right;
}

input {
  height: 1.6em;
  width: 15em;
  border-radius: 10px;
  padding: 1px 5px;
}

input:focus {
  outline: none;
  border: solid 2px hsl(235, 100%, 77%);
}

/***************************
FOOTER
****************************/

footer p, footer a {
  color: hsl(0, 95%, 47%);
  margin-right: 1em;
}

footer a:hover {
  color: hsl(0, 95%, 70%);
}

/***************************
BUTTONS
****************************/

.btn {
  height: 2em;
  width: 10em;
  color: #fff;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 1px black;
  text-shadow: 1px 1px 1px black
}

a.btn:active, a.btn:visited {
  color: #fff;
}

.btn:focus {
  outline: none;
}

.btn:active {
  box-shadow: none;
}

.btn-del {
  font-size: 1em;
  margin-top: 1em;
  background-color: red;
}

.btn-del:hover, .btn-del:active {
  background-color: hsl(0, 95%, 47%);
}

.btn-sub {
  background-color: hsl(120, 100%, 50%);
}

.btn-sub:hover, .btn-sub:active {
  background-color: hsl(120, 100%, 30%);
}

.btn-edit {
  padding: .45em 1.95em;
  background-color: hsl(207, 100%, 50%);
}

.btn-edit:hover, .btn-edit:active {
  background-color: hsl(207, 100%, 30%);
}